@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Monoton&family=Red+Hat+Mono:ital@0;1&family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Lobster', cursive;
font-family: 'Monoton', cursive;
font-family: 'Red Hat Mono', monospace; 
font-family: 'Roboto Mono', monospace;*/

* {
  box-sizing: border-box;
  /* border: var(--border__default); */
  /* padding: 1rem; */
}
html {
  font-size: 62.5%;
}
:root {
  --color__main: #2aabe4;
  --color__main-light: #7dc6f7;
  --color__secondary: #ffcd24;
  --color__grey: #33393d;
  --color__grey-light: #666b6e;
  --color__black: #000;
  --color__white: #fff;
  --color__winner: #9cf5b8;
  --color__loser: #ff3d00;

  --font__size-default: 1.6rem;
  --font__size-large: 3rem;
  --font__size-small: 1rem;
  --font__family__main: 'Red Hat Mono', monospace;
  --font__family__main-sub: 'Roboto Mono', monospace;
  --font__family__header: 'Lobster', cursive;
  --font__family__header-sub: 'Monoton', cursive;

  --border__default: 1px solid var(--color__black);
  --border__radius--container: 1rem 1rem 0 0;
  --transistion__default: all 0.4s;
}
body {
  margin: 0 auto;
  background-color: var(--color__secondary);
  min-width: 850px;
}
.main {
  font-size: var(--font__size-default);
  font-family: var(--font__family__main);
  min-height: 800px;
}
.header {
  text-align: center;
  border-bottom: var(--border-right);
  text-transform: capitalize;
}
.header__title {
  font-family: var(--font__family__header);
  font-size: var(--font__size-large);
  color: var(--color__ter);
  text-shadow: 1px 1px 2px var(--color__white);
  transition: var(--transistion__default);
  backface-visibility: hidden;
}
.header__title:hover {
  transform: skewX(10deg) translateY(-4px);
  color: var(--color__white);
  text-shadow: 2px 2px 1px var(--color__black);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container > * {
  min-height: 90vmin;
}
.container-one,
.container-three {
  border-radius: var(--border__radius--container);
  width: 15%;
  text-align: center;
}
.player-x__title,
.player-o__title {
  margin-top: 45vh;
  font-size: var(--font__size-large);
}
.container-two {
  width: 70%;
  position: relative;
}
.info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color__grey);
  border-radius: var(--border__radius--container);
  z-index: 2;
  text-align: center;
  transition: var(--transistion__default) ease;
  backface-visibility: hidden;
}
.info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__logo {
  width: 10%;
  margin-left: 1rem;
  margin-top: 1rem;
}
.info__title {
  font-family: var(--font__family__main-sub);
  font-size: var(--font__size-large);
  color: var(--color__white);
  text-shadow: 2px 3px 1px var(--color__black);
  width: 80%;
  text-align: center;
}
.info__remove {
  width: 10%;
  font-size: var(--font__size-large);
  color: var(--color__white);
  cursor: pointer;
}
.info__remove:hover {
  transform: translate(-1px, -3px);
  color: var(--color__loser);
  text-shadow: 1px 1px 3px var(--color__white);
}
.info__remove:active {
  transform: translate(-1px, -1px);
  text-shadow: 0.5px 0.5px 1px var(--color__white);
}
.info__personal {
  background-color: var(--color__white);
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
}

.info__personal-que {
  width: 40%;
  text-align: end;
}
.info__personal-ans {
  width: 50%;
  text-align: start;
}

.info__btn {
  display: block;
  border: none;
  padding: 1.3rem 5rem;
  border-radius: 7px;
  font-family: inherit;
  transition: all 0.2s;
  text-decoration: none;
  margin: 3rem auto;
  background-color: var(--color__black);
  backface-visibility: hidden;
  color: var(--color__white);
  outline: none;
}
.info__btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 3px var(--color__grey-light);
}
.info__btn:active {
  transform: translate(-1px, -1px);
  box-shadow: 0.5px 0.5px 1px var(--color__grey-light);
}
.grid {
  background-image: linear-gradient(
    var(--color__main),
    var(--color__main-light)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border__radius--container);
  border-top: none;
}
.grid__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid__item-btn {
  border: 0.05px solid var(--color__secondary);
  border-top: none;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  backface-visibility: hidden;
  font-size: 7rem;
  font-style: italic;
}
.grid__item-btn:hover {
  background-color: var(--color__main);
  transform: scale(1.02) translate(-4px, -4px);
  box-shadow: 4px 4px 1px var(--color__secondary);
}
.grid__item-btn:active {
  transform: scale(1) translateY(-1px);
  box-shadow: 1px 1px 1px var(--color__secondary);
}
.footer {
  background-color: var(--color__main-light);
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}
.footer__title {
  background-color: var(--color__black);
  color: var(--color__white);
  width: 10%;
  margin: 0 auto;
  margin-bottom: -0.1rem;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  opacity: 0.2;
  transition: var(--transistion__default);
}
.footer__title:hover {
  opacity: 1;
  transform: scaleX(1.1) translateY(-1px);
  box-shadow: 1px 3px 2px var(--color__grey);
}
.footer__title:active {
  transform: scaleX(1.05) translateY(0);
  box-shadow: 1px 1px var(--color__grey);
}
.winner {
  background-color: var(--color__winner);
}
.loser {
  background-color: var(--color__loser);
}

.player-one {
  color: var(--color__white);
}
.player-two {
  color: var(--color__secondary);
}
.active {
  color: var(--color__white);
  font-size: 5rem;
  text-shadow: 1.5px 1.5px 3px var(--color__black);
}
.hidden {
  transform: translateY(300px);
  opacity: 0;
  z-index: 0;
}

/* @media only screen and (max-width: 1360px) {
  body {
    overflow: hidden;
  }
} */
